# Ignore compiled class files

**/target/
**/out/

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Maven and Gradle build directories
mvnw
mvnw.cmd
.gradle/
build/

# Ignore logs and temp files
logs/
*.log